body {
    background-image: url('Images/bgimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
}

.navcolor a{
    color: white !important;
}
.Div1 {
    text-align: center;
    height: fit-content;
    margin-top: 60px;
}

.Div2 {
    height: fit-content;
}

.Div3 {
    text-align: center;  
    background-image: url('Images/tbg.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Div1 img {
    width: 100%;
}

.intro {
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 36px !important;
    color: white !important;
    margin: 10% 0 10% 0 !important;
}

.active {
    background-color: #316DC3!important;
    color: black !important;
    border-radius: 10px !important;
}

.onhover a:hover {
    background-color: #316DC3;
    color: black !important;
    border-radius: 10px !important;
}

.fixedtop {
    position: fixed !important;
}

.headericon img {
    width: 30px;
    margin: 0px 5px 0px 5px;
}

.headericon img:hover {
    cursor: pointer;
}

.NavCenterAlign {
    margin: 0 auto !important;
}

.fontchange h1 {
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;

    color: black !important; opacity: 100%;
}

.fontchange h3 {
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;

    font-size: 24px;
    color: black !important; opacity: 100% !important;
}

.fontchange{
    margin: 0 auto !important;
}


.fontchange td{
    width: 400px;
    height: 50px;

}

.tophead{
    height: 100px;
}

.rightborder{
    border-right: 2px solid black;
}

.CoreServices{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.CoreServices img:hover{
    box-shadow: 5px 2px 10px white;
    border-radius: 10px;
}

.CSHead h1{
    color: white;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin: 20px auto;
    text-align: center;
    font-size: 46px !important;
    margin-top: 100px;
    margin-bottom: 50px;
    
}
.CoreServices h2{
    color: white;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin-top: 10px;
    font-size: 24px;

}

.CS1{
    flex: 1;
}
.CS2{
    flex: 1;
}

.CS3{
    flex: 1;
}

.CoreServices{
    margin-bottom: 100px;
}

/* .footericon{
    text-align: center;
    flex: 3;
}
.footericon img {
    width: 50px;
    margin: 0 30px;
    padding: 60px 0px;
}

.footericon img:hover {
    cursor: pointer;
}

.footericon h2{
    color: white !important;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.secondlastfooter{
    display: flex;
    background-color: #25272e;
    flex-wrap: wrap;
    padding-top: 0px;
    margin-top: 100px;
    padding-bottom: 0px;
}

.secondlastfooter p{
    color: white;
}

.secondlastfooter h3{
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
 }

.contactinfo{
    margin-left: 50px;
    flex: 1;
    padding-top: 50px;
    min-width: 400px;
} */

.footer{
    background-color:#316DC3;
    color: white;
    padding: 20px 50px 5px 50px;
}

.footer p{
    font-size: 14px;
    text-align: center;
}

.Serv{
    margin: 60px auto 0px auto;
    text-align: center;
}

.Serv h1{
    color: white;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin-top: 10px;
    font-size: 72px;
}

.Serv1{
    margin: 20px auto 0px auto;
    text-align: center;


}

.Serv1 img:hover{
    box-shadow: 5px 2px 20px #7b4a29;
    border-radius: 10px;
}

.Serv2{
    text-align: center;
    margin: 20px auto 0px auto;
 
}

.Serv2 img:hover{
    box-shadow: 5px 2px 20px #3a4858;
    border-radius: 10px;
}

.Serv3{
    text-align: center;
    margin: 20px auto 0px auto;

}

.Serv3 img:hover{
    box-shadow: 5px 2px 20px #e8e8e8;
    border-radius: 10px;
}

.Serv4{
    text-align: center;
    margin: 20px auto 0px auto;
 
}

.Serv4 img:hover{
    box-shadow: 5px 2px 20px #284c54;
    border-radius: 10px;
}

.Serv5{
    text-align: center;
    margin: 20px auto 0px auto;

}

.Serv5 img:hover{
    box-shadow: 5px 2px 20px #3646c1;
    border-radius: 10px;
}

.Serv6{
    text-align: center;
    margin: 20px auto 0px auto;

}

.Serv6 img:hover{
    box-shadow: 5px 2px 20px #93583a;
    border-radius: 10px;
}

.ContactusForm{
    margin: 60px auto 0px auto;

}

/* .centeredServ2 {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

.centeredServ3 {
    position: absolute;
    top: 120%;
    right: 70%;
    transform: translate(50%, -45%);
  } */

/* .centered h1{
    color: white;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin-top: 10px;
    font-size: 36px;
    margin-bottom: 20px;
}

.centered p{
    color: white;
    font-family:Garamond, Big Caslon, Times New Roman, serif;
    font-style: normal;
    font-variant: normal;
    font-size: 24px;
} */

.AboutUsPage{
    margin: 60px auto 0 auto;
}

.AboutUsPage h1{
    color: white;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin-top: 10px;
    font-size: 72px;
    margin-bottom: 20px;
    text-align: center;
}

.AboutUsPage p{
    color: white;
    font-family:Garamond, Big Caslon, Times New Roman, serif;
    font-style: normal;
    font-variant: normal;
    font-size: 24px;
    text-align: justify;
}

.endingquote{
    text-align: right !important;
}

.Introfooter{
    display: flex;
    background-color: #25272e;
    flex-wrap: wrap;
    padding-top: 0px;
    margin-top: 100px;
    padding-bottom: 0px;
}

.Introfooter p{
    color: white;
}

.Introfooter h3{
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
 }
 .Introfooter h1{
    color: white;
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin-top: 10px;
    font-size: 36px;
    margin-bottom: 20px;
 }
.ShahzebFooter{
    flex: 1;
    margin: 20px 50px 20px 50px;
    text-align: center;
}

.MohsinFooter{
    flex: 1;
    margin: 20px 50px 20px 50px;
    text-align: center;
}



@media only screen and (max-width: 538px) {
    .Div1 {
        margin-top: 100px !important;
    }
    .intro p {
        font-size: 24px !important;
    }    
    .fontchange h1 {
        font-size: 24px !important;
    }
    .fontchange h3 {
        font-size: 16px !important;
    }
    .Serv{
        margin: 100px auto 0px auto !important; 
    }
    .Serv h1{
        font-size: 36px !important;
    }
    .ContactusForm{
        margin: 100px auto 0px auto;
    }
    .AboutUsPage{
        margin: 100px auto 0 auto;
    }
    /* .centered h1{
        font-size: 16px;       
    }
    .centered p{
        font-size: 12px;
    } */
}